.point__notification {
  background-color: red;
  width: 3px;
  height: 3px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 100%;
  top: 1px;
}

.point__jum {
  position: relative;
}
